<div class="navigation">
  <ul class="navigation_list">
    <li>
      <a class="navigation_button upload">
        <span class="circle"></span>
        <i><add-icon></add-icon></i>
        New Upload
      </a>
    </li>
    <li>
      <a class="navigation_button persons" routerLink="/persons"  routerLinkActive="active">
        <i><persons-icon></persons-icon></i>
        Persons
      </a>
    </li>
    <li>
      <a class="navigation_button gallery">
        <i><gallery-icon></gallery-icon></i>
        Gallery
      </a>
    </li>
    <li>
      <a class="navigation_button account">
        <i><account-settings-icon></account-settings-icon></i>
        Account
      </a>
    </li>
  </ul>
</div>
