<div class="loader_card_container">
    <div  class="persons_loader_card">
        <div class="main_banner">
            <div class="profile_photo"></div>
        </div>
        <div class="content">
            <div class="name"></div>

            <div class="short_line"></div>
            <div class="long_line"></div>

            <div class="short_line"></div>
            <div class="long_line"></div>

            <div class="short_line"></div>
            <div class="long_line"></div>

            <div class="short_line"></div>
            <div class="long_line"></div>

            <div class="short_line"></div>
            <div class="long_line"></div>

            <div class="short_line"></div>
            <div class="long_line"></div>
        </div>
    </div>
</div>

